[class$="Btn"] {
    display: none;
}

[class$="Btn"] + label {
    padding: 10px 20px;
    border: solid 1px black;
    display: inline-block;
}

[class$="Btn"]:checked + label {
    background: black;
    color: white;
}

.tagsDropArea {
    margin: 0 2.5% 1em;
    min-height: 8em;
    border: solid 1px black;
    background: lightgrey;
}

.tagsDropArea h2 {
    margin: 2%;
}

.tagsDropAreaWrapper {
    display: flex;
}

.tagsDropAreaWrapper .tagsDropArea{
    width: 45%;
}

.closeBtn:not(:checked) + label .openTxt {
    display: none;    
}

.closeBtn:checked + label .closeTxt {
    display: none;    
}

.closeBtn:checked + label ~ div {
    display: none;    
}

.line {
    width: 2em;
}

.line + label {
    display: inline-block;
    width: calc(100% - 2.2em);
}

[data-type="dir"]:checked ~ div [data-type="file"] + label {
    color: green;
}

[data-type="file"]:checked + label {
    color: green;
}

.testRunningMsg {
    text-align: center;
    color: green;
    font-size: 45px;
    font-weight: bold;
    font-family: impact;
}